<div th:frament="aside-index">
  <div id="indexing-control">
    <img src="../static/asset/indexing-controller.png" alt="내부 목차 열기(open aside)">
  </div>
  <aside id="indexing-modal">
    <h3>Index</h3>
    <ul>
      <li class="ordered-nav">1</li>
      <li class="ordered-nav">1</li>
      <li class="ordered-nav">1</li>
      <li class="ordered-nav">1</li>
      <li class="ordered-nav">1</li>
      <li class="ordered-nav">1</li>
      <li class="ordered-nav">1</li>
      <li class="ordered-nav">1</li>
    </ul>
  </aside>
</div>
