<nav th:fragment="category(new_value)" id="category-box">
    <ul>
        <li class="nav-title">Category</li>
        <li><a href="/">홈</a></li>
        <li><a href="/list?category=japan_review" style="display: flex; align-items: center; gap: 4px">입주 후기
            <span th:if="${new_value[0]}" class="update-dot"></span>
        </a></li>
        <li><a href="/list?category=working_holiday" style="display: flex; align-items: center; gap: 4px">일본 워킹홀리데이
            <span th:if="${new_value[2]}" class="update-dot"></span>
        </a></li>
        <li><a href="/list?category=japan_property" style="display: flex; align-items: center; gap: 4px">일본 부동산 정보
            <span th:if="${new_value[1]}" class="update-dot"></span>
        </a></li>
        <li><a href="/list?category=japan_life" style="display: flex; align-items: center; gap: 4px">생활 정보
            <span th:if="${new_value[3]}" class="update-dot"></span>
        </a></li>
    </ul>
    <div class="shortcut-box">
        <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-youtube.svg" alt="하우버 유튜브(houber youtube)"></a>
        <a href="https://www.instagram.com/osaka_houber/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-instagram.svg" alt="하우버 인스타그램(houber instagram)"></a>
        <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-blog.svg" alt="하우버 블로그(houber blog)"></a>
    </div>
</nav>
