<nav th:fragment="category" id="category-box">
    <ul>
        <li class="nav-title">Category</li>
<!--        <li><a href="/list?category=hot_post">홈</a></li>-->
<!--        <li><a href="/list?category=working_holiday">입주 후기</a></li>-->
<!--        <li><a href="/list?category=japan_review">입주 혜택</a></li>-->
<!--        <li><a href="/list?category=japan_life">일본 부동산 정보</a></li>-->
<!--        <li><a href="/list?category=houber_sns">일본 워킹홀리데이</a></li>-->
<!--        <li><a href="/list?category=all">생활 정보</a></li>-->
        <li><a href="/">홈</a></li>
        <li><a href="/list?category=japan_review">입주 후기</a></li>
        <li><a href="/list?category=working_holiday">일본 워킹홀리데이</a></li>
        <li><a href="/list?category=event">입주 혜택</a></li>
        <li><a href="/list?category=japan_property">일본 부동산 정보</a></li>
        <li><a href="/list?category=japan_life">생활 정보</a></li>
    </ul>
    <div class="shortcut-box">
        <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-youtube.svg" alt="하우버 유튜브(houber youtube)"></a>
        <a href="https://www.instagram.com/osaka_houber/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-instagram.svg" alt="하우버 인스타그램(houber instagram)"></a>
        <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-blog.svg" alt="하우버 블로그(houber blog)"></a>
    </div>
</nav>
