<nav th:fragment="category" id="category-box">
    <ul>
        <li class="nav-title">Category</li>
        <li><a href="/list?category=hot_post">おすすめ</a></li>
        <li><a href="/list?category=working_holiday">워킹 홀리데이</a></li>
        <li><a href="/list?category=japan_review">일본 집들이</a></li>
        <li><a href="/list?category=japan_life">생활 정보</a></li>
        <li><a href="/list?category=houber_sns">영상 콘텐츠</a></li>
        <li><a href="/list?category=all">전체 보기</a></li>
    </ul>
    <div class="shortcut-box">
        <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
        <a href="https://www.instagram.com/houber_official/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
        <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
        <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
        <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
    </div>
</nav>
