<footer th:fragment="footer">
  <div class="m-footer-left">
    <a href="/"><img class="m-footer-logo" src="/asset/textLogo.png" alt="하우버 하단(houber footer)"/></a>
    <p class="xs">©2024. Aders INC. All rights reserved.</p>
  </div>
  <div class="m-footer-right">
    <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
    <a href="https://www.instagram.com/osaka_houber/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
    <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
    <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
    <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
  </div>
  <div class="footer-left">
    <a href="/"><img class="footer-logo" src="/asset/textLogo.png" alt="하우버 하단(houber footer)"/></a>
  </div>
  <div class="footer-middle">
    <p class="xs">About Japan life with Houber</p>
    <p class="xs">일본의 모든 정보들을 한눈에, Houber 부동산</p>
    <p class="xs">日本のすべてを一目に Houber 不動産</p>
  </div>
  <div class="footer-right">
    <div class="icons">
      <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
      <a href="https://www.instagram.com/osaka_houber/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
      <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
      <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
      <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
    </div>
    <div>
      <p class="xxs">©2024. Aders INC. All rights reserved.</p>
      <p class="xxs">〒550-0004 大阪府大阪市中央区松屋町住吉6-8-701</p>
    </div>
  </div>
</footer>
