<footer th:frament="footer">
  <div class="footer-left">
    <a href="/"><img class="footer-logo" src="/asset/textLogo.png" alt="하우버 하단(houber footer)"/></a>
    <p class="xs">©2024. Aders INC. All rights reserved.</p>
  </div>
  <div class="footer-right">
    <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
    <a href="https://www.instagram.com/houber_official/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
    <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
    <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
    <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
  </div>
</footer>
