<!--<div th:fragment="indexing">-->
<!--    <div id="indexing-control">-->
<!--        <img src="/asset/indexing-controller.png" alt="내부 목차 열기(open aside)">-->
<!--    </div>-->
<!--    <aside>-->
<!--        <h3>Index</h3>-->
<!--        <ul class="ordered-nav">-->
<!--            <li th:each="heading : ${headings}" class="ordered-nav">-->
<!--                <a th:href="'#' + ${heading.id}" class="tx-link">-->
<!--                    <span th:text="${heading.text}"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </aside>-->
<!--</div>-->

