<!--<div th:fragment="indexing">-->
<!--    <div id="indexing">-->
<!--        <img src="/asset/indexing.png" alt="목차">-->
<!--    </div>-->
<!--    <div id="indexing-modal">-->
<!--        <ol class="ordered-nav">-->
<!--            <li th:each="heading : ${headings}" class="ordered-nav&#45;&#45;link">-->
<!--                <a th:href="'#' + ${heading.id}" class="tx-link">-->
<!--                    <span th:text="${heading.text}"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ol>-->
<!--    </div>-->
<!--</div>-->
