<div th:fragment="youtubepage(url)">
    <div style="display: block; margin: 7rem auto 0">
        <iframe width="300"
                height="200"
                th:src="${url}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
    <div style="margin: 3rem auto 0; display: flex; justify-content: space-between; align-items: center; width: 29rem; height: 4rem">
        <div>
            <p style="font-size: 1.1rem; margin: 0.1rem">Based in Osaka.</p>
            <p style="font-size: 1.1rem; margin: 0.1rem">V-log / Japanese / Contents</p>
        </div>
        <img style="width: 10rem; height: auto" src="/asset/shortcutYoutube.png" alt="유튜브 채널 바로가기(houber youtube shortcut)">
    </div>
</div>

