@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
html,body {
    width: 100vw;
    height: 100vh;
    font-size: 10px;
}
body {
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: #212121;
    color: white;
    overflow-wrap: break-word;
    padding: 0;
    max-width: 67rem;
    margin: 0 auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}
img {
    user-drag: none; /* Safari 브라우저 지원 */
    -webkit-user-drag: none; /* Safari와 Chrome 브라우저 지원 */
}
::-webkit-scrollbar {
    width: 12px; /* 세로 스크롤바의 너비 */
    height: 12px; /* 가로 스크롤바의 높이 */
}
::-webkit-scrollbar-track {
    background: #616060; /* 트랙의 기본 배경색 */

}
::-webkit-scrollbar-thumb {
    background: #323232; /* 핸들의 색상 */
    border-radius: 10px; /* 핸들의 모서리 둥글게 */
    border: 3px solid rgba(240, 240, 240, 0); /* 핸들의 외곽선, 트랙 배경과 동일한 색상 */
}
#go-top {
    position: fixed;
    bottom: 13%;
    right: 5%;
    width: 3rem;
    height: 5rem;
    display: flex;
    z-index: 5;
    flex-direction: column;
    cursor: pointer;
}
#go-top svg{
    width: 100%;
    height: auto;
    display: block;
    fill: #525252;
}
#go-top span {
    font-size: 1.5rem;
    color: #d3d3d3;
    margin: 0 auto;
}
/*default - mobile 375*/
h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 25px;
}
h2 {
    font-size: 1.8rem;
    font-weight: 600;
}
h3 {
    font-size: 1.7rem;
    font-weight: 500;
}
p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
}
.s {
    font-size: 1.2rem;
}
.xs {
    font-size: 0.9rem;

}
@media (min-width: 1023px) {
    h1 {
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 34px;
    }
    h2 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 30px;
    }
    h3 {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 25px;
    }
    p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 25px;
    }
    .s {
        font-size: 1.2rem;
        line-height: 0;
    }
    .xs {
        font-size: 0.9rem;
        line-height: normal;
    }
}
