<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/frag/header.css">
<link rel="stylesheet" href="../static/css/frag/searchBar.css">
<link rel="stylesheet" href="../static/css/frag/category.css">
<link rel="stylesheet" href="../static/css/frag/footer.css">
<link rel="stylesheet" href="../static/css/mainPage.css">
<link rel="stylesheet" href="../static/css/frag/content.css">
<link rel="stylesheet" href="../static/css/frag/grid-items.css">
<link rel="stylesheet" href="../static/css/detail-guide.css">
<link rel="stylesheet" href="../static/css/frag/indexing.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header>
  <img id="category" src="../static/asset/category.png" alt="목록 열기 - 워킹 홀리데이, 일본 생활정보, 유학 정보 등(japan-life Japan Working holiday, japan studying)">
  <a href="index.html"><img class="logo" src="../static/asset/logo.png" alt="일본 생활과 워킹홀리데이, 일본 유학 정보를 제공하는 플렛폼"></a>
</header>
<nav id="category-box">
  <ul>
    <li class="nav-title">Category</li>
    <li><a href="listPage.html">인기 게시글</a></li>
    <li><a href="listPage.html">워킹 홀리데이</a></li>
    <li><a href="listPage.html">유학 정보</a></li>
    <li><a href="listPage.html">일본 생활 정보</a></li>
    <li><a href="listPage.html">하우버 부동산 이벤트</a></li>
    <li><a href="listPage.html">View ALL</a></li>
  </ul>
  <div class="shortcut-box">
    <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
    <a href="https://www.instagram.com/houber_official/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
    <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
    <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
    <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
  </div>
</nav>
<div id="go-top">
  <svg viewBox="0 0 300 300">
    <polygon points="150,0 300,300 0,300" />
  </svg>
  <span>TOP</span>
</div>
<section class="content">
  <div style="margin: 7rem auto 0; width: 100%; height: auto">
    <div class="search-bar">
      <img src="../static/asset/searchIcon.png" alt="하우버에서 컨탠츠 검색(search content)">
      <input type="text" placeholder="">
    </div>
    <main>
      <section class="detail-content">
        <div>
          <div id="indexing-control">
            <img src="../static/asset/indexing-controller.png" alt="내부 목차 열기(open aside)">
          </div>
          <aside id="indexing-modal">
            <h3>Index</h3>
            <ul>
              <li class="ordered-nav">1</li>
              <li class="ordered-nav active">1</li>
              <li class="ordered-nav">1</li>
              <li class="ordered-nav">1</li>
              <li class="ordered-nav">1</li>
              <li class="ordered-nav">1</li>
              <li class="ordered-nav">1</li>
              <li class="ordered-nav">1</li>
            </ul>
          </aside>
        </div>
        <div class="detail-header">
          <h1>일본 워킹홀리데이 총정리 | 접수기간, 제출서류, 신청장소, 합격확인</h1>
          <div class="detail-header-under">
            <span class="xs">워홀 가이드 > 입주전</span>
            <div class="view-count-box">
              <img src="../static/asset/viewCount.png" alt="게시글이 읽힌 수(counting post view)">
              <span class="xs">37890</span>
            </div>
          </div>
        </div>
        <img src="../static/asset/워킹홀리데이.png" alt="">
        <p>일본 워킹 홀리데이란, 일본에 실제로 거주하며 일본의 문화 및 생활 방식을 이해할 기회를 주는 제도를 말합니다.</p>
        <p>이 워킹홀리데이 비자를 취득하면 최대 1년간 일본에서의 거주가 가능한데요.</p>
        <div class="middle-title-box">
          <h2>일본 워킹 홀리데이란?</h2>
        </div>
        <h3>자격조건 확인</h3>
        <p>일본 워킹 홀리데이란, 일본에 실제로 거주하며 일본의문화 및 생활 방식을 이해할 기회를 주는 제도를 말합니다 SeoulHangang CL 폰트, 크기 12, 행간 20</p>
        <p> 이 워킹홀리데이 비자를 취득하면 <span class="highlight">최대 1년간</span> 일본에서의 거주가 가능한데요.</p>
        <p>생활비 보충을 위한 아르바이트 활동이 가능하기 때문에, 적은 자금으로도 도전이 가능합니다.</p>
      </section>
    </main>
  </div>
</section>
<footer>
  <div class="footer-left">
    <a href="/"><img class="footer-logo" src="../static/asset/textLogo.png" alt="하우버 하단(houber footer)"/></a>
    <p class="xs">©2024. Aders INC. All rights reserved.</p>
  </div>
  <div class="footer-right">
    <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
    <a href="https://www.instagram.com/houber_official/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
    <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
    <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
    <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
  </div>
</footer>
</body>
<script src="../static/js/main.js"></script>
<script src="../static/js/navControl.js"></script>
<script src="../static/js/detailControl.js"></script>
<script src="../static/js/asideControl.js"></script>
</html>

