<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/head :: head(
    title=${title},
    description=${description},
    keywords=${keywords},
    siteUrl=${siteUrl},
    thumbnail=${thumbnail}
    )}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/category :: category}"></nav>
<div th:replace="~{fragments/go-top :: go-top}"></div>

<section class="content">
  <div th:replace="~{fragments/searchBar :: searchBar}"></div>
    <section class="detail-content">

      <div id="indexing-control">
        <img src="/asset/indexing-controller.png" alt="내부 목차 열기(open aside)">
      </div>
      <aside id="indexing-modal">
        <h3>Index</h3>
        <ul>
          <li th:each="item : ${tableOfContents}">
            <a th:href="'#' + ${item['id']}">
              <span th:text="${item['text']}"></span>
            </a>
          </li>
        </ul>
      </aside>

      <div id="detail-content">
        <div class="detail-header">
          <h1 th:text="${h1}"></h1>
          <div class="detail-header-under">
            <span class="s">
              <a href="/" style="text-decoration: none; color: #fff">메인</a>
              >
              <a th:href="@{/list(category=${category})}" th:text="${category.title}" style="text-decoration: none; color: #fff"></a>
            </span>
            <div class="view-count-box">
              <img src="/asset/viewCount.png" alt="게시글이 읽힌 수(counting post view)">
              <span class="s" th:text="${view}"></span>
            </div>
          </div>
        </div>
        <th:block th:utext="${mainContent}"></th:block>
      </div>

      <div th:if="${not #lists.isEmpty(moreContents)}" class="slider-container">
        <h2>이어지는 가이드를 보여드릴게요!</h2>
        <div class="slider">
          <div th:each="item : ${moreContents}" class="item">
            <a th:href="${item.link}">
              <div class="image-wrapper">
                <img th:src = "${item.thumbnailUrl}"
                     th:alt = "${item.title}">
                <div class="title" th:text = "${item.title}"></div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</section>
</body>
<script src="/js/main.js"></script>
<script src="/js/navControl.js"></script>
<script src="/js/detailControl.js"></script>
<script src="/js/asideControl.js"></script>
<script src="/js/slideItem.js"></script>
</html>

