<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/head :: head(
    title=${title},
    description=${description},
    keywords=${keywords}
    )}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/category :: category}"></nav>
<div th:replace="~{fragments/go-top :: go-top}"></div>
<section class="content">
  <div style="margin: 0 auto; width: 100%; height: auto">
    <div th:replace="~{fragments/searchBar :: searchBar}"></div>
    <h3>[워킹 홀리데이]</h3>
    <div class="items">
      <div class="grid-items">
        <div class="grid-item" th:each="item : ${mainContent}">
          <a th:href="${item.link}">
            <img th:src="${item.thumbnailUrl}" th:alt="${item.title}">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script src="/js/main.js"></script>
<script src="/js/navControl.js"></script>
<script src="/js/detailControl.js"></script>

</html>
