<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/frag/header.css">
<link rel="stylesheet" href="../static/css/frag/searchBar.css">
<link rel="stylesheet" href="../static/css/frag/category.css">
<link rel="stylesheet" href="../static/css/frag/footer.css">
<link rel="stylesheet" href="../static/css/mainPage.css">
<link rel="stylesheet" href="../static/css/frag/content.css">
<link rel="stylesheet" href="../static/css/frag/grid-items.css">
<link rel="stylesheet" href="../static/css/detail-guide.css">
<link rel="stylesheet" href="../static/css/frag/indexing.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header>
  <img id="category" src="../static/asset/category.png" alt="목록 열기 - 워킹 홀리데이, 일본 생활정보, 유학 정보 등(japan-life Japan Working holiday, japan studying)">
  <a href="index.html"><img class="logo" src="../static/asset/logo.png" alt="일본 생활과 워킹홀리데이, 일본 유학 정보를 제공하는 플렛폼"></a>
</header>
<nav id="category-box">
  <ul>
    <li class="nav-title">Category</li>
    <li><a href="listPage.html">인기 게시글</a></li>
    <li><a href="listPage.html">워킹 홀리데이</a></li>
    <li><a href="listPage.html">유학 정보</a></li>
    <li><a href="listPage.html">일본 생활 정보</a></li>
    <li><a href="listPage.html">하우버 부동산 이벤트</a></li>
    <li><a href="listPage.html">View ALL</a></li>
  </ul>
  <div class="shortcut-box">
    <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
    <a href="https://www.instagram.com/houber_official/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
    <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
    <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
    <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
  </div>
</nav>
<div id="go-top">
  <svg viewBox="0 0 300 300">
    <polygon points="150,0 300,300 0,300" />
  </svg>
  <span>TOP</span>
</div>
<section class="content">
  <div style="margin: 7rem auto 0; width: 100%; height: auto">
    <div class="search-bar">
      <img src="../static/asset/searchIcon.png" alt="하우버에서 컨탠츠 검색(search content)">
      <input type="text" placeholder="">
    </div>
    <h3>[워킹 홀리데이]</h3>
    <div class="items">
      <div class="grid-items">
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>
        <div class="grid-item"><a href="detail-guide.html"><img src="../static/asset/워홀 입국 전 꿀팁.png"></a> </div>

      </div>
    </div>
  </div>
</section>
<footer>
  <div class="m-footer-left">
    <a href="/"><img class="m-footer-logo" src="../static/asset/textLogo.png" alt="하우버 하단(houber footer)"/></a>
    <p class="xs">©2024. Aders INC. All rights reserved.</p>
  </div>
  <div class="m-footer-right">
    <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
    <a href="https://www.instagram.com/houber_official/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
    <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
    <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
    <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
  </div>
  <div class="footer-left">
    <a href="/"><img class="footer-logo" src="../static/asset/textLogo.png" alt="하우버 하단(houber footer)"/></a>
  </div>
  <div class="footer-middle">
    <p class="xs">About Japan life with Houber</p>
    <p class="xs">일본의 모든 정보들을 한눈에, Houber 부동산</p>
    <p class="xs">日本のすべてを一目に Houber 不動産</p>
  </div>
  <div class="footer-right">
    <div class="icons">
      <a href="https://www.youtube.com/@Houber_Official" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-youtube.png" alt="하우버 유튜브(houber youtube)"></a>
      <a href="https://www.instagram.com/houber_official/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-instargram.png" alt="하우버 인스타그램(houber instagram)"></a>
      <a href="https://pf.kakao.com/_qTEPj" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-kakaotalk.png" alt="하우버 카카오톡(houber kakaotalk)"></a>
      <a href="https://www.houber-home.com/" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-houber.png" alt="하우버 부동산(houber estate)"></a>
      <a href="https://blog.naver.com/houber" target="_blank" rel="noopener noreferrer"><img src="../static/asset/icon-naver.png" alt="하우버 블로그(houber blog)"></a>
    </div>
    <div>
      <p class="xxs">©2024. Aders INC. All rights reserved.</p>
      <p class="xxs">〒550-0004 大阪府大阪市中央区松屋町住吉6-8-701</p>
    </div>
  </div>
</footer>
</body>
<script src="../static/js/main.js"></script>
<script src="../static/js/navControl.js"></script>
<script src="../static/js/detailControl.js"></script>

</html>
