<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/head :: head(
    title=${title},
    description=${description},
    keywords=${keywords},
    siteUrl=${siteUrl},
    thumbnail=${thumbnail}
    )}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/category :: category}"></nav>
<div th:replace="~{fragments/go-top :: go-top}"></div>
<section class="content">
    <div style="margin: 0 auto; width: 100%; height: auto">
        <div th:replace="~{fragments/searchBar :: searchBar}"></div>
        <h1 th:text="'[ ' + ${search_keyword} + ' ]의 ' + ${searched_list.size()} + '건의 검색결과'"></h1>
        <div class="searched-list">

<!--        <h3>[워킹홀리데이] 검색 결과</h3>-->
            <div th:each="item : ${searched_list}" class="searched-box">
                <a th:href="${item.link}" style="color: #fff; text-decoration: none">
                    <div>
                        <h3 th:text="${item.title}"></h3>
                        <p th:text="${item.description}"></p>
                        <div class="view-count-box">
                            <img src="/asset/viewCount.png" alt="게시글이 읽힌 수(counting post view">
                            <span class="s" th:text="${item.view}"></span>
                        </div>
                    </div>
                </a>
                <a th:href="${item.link}" style="color: #fff; text-decoration: none" >
                    <div class="searched-box-thumbnail">
                        <img th:src="${item.thumbnailUrl}" th:alt="${item.title}">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script src="/js/main.js"></script>
<script src="/js/detailControl.js"></script>
<script src="/js/navControl.js"></script>

</html>
