<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/head :: head(
    title=${title},
    description=${description},
    keywords=${keywords},
    siteUrl=${siteUrl},
    thumbnail=${thumbnail}
    )}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/category :: category}"></nav>
<div th:replace="~{fragments/go-top :: go-top}"></div>
<section class="content">
    <div style="margin: 0 auto; width: 100%; height: auto">
        <div th:replace="~{fragments/searchBar :: searchBar}"></div>
        <h3>[워킹홀리데이] 검색 결과</h3>
        <div class="searched-list">
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
            <div class="searched-box">
                <div>
                    <h3>워킹 홀리데이 시작하기 한번더?</h3>
                    <p style="font-size: 1.2rem">조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요 조니워커 블루라벨 뱀띠 에디션 명품 조니우커어 불루라벨이 흘러넘치는걸 막아요</p>
                    <div class="view-count-box">
                        <img src="/asset/viewCount.png" alt="">
                        <span class="s">37890</span>
                    </div>
                </div>
                <div class="searched-box-thumbnail">
                    <img src="/asset/워킹홀리데이.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script src="/js/main.js"></script>
<script src="/js/mainPage.js"></script>
<script src="/js/detailControl.js"></script>
<script src="/js/navControl.js"></script>

</html>
