<!DOCTYPE html>
<html lang="ko">
<head th:replace="~{fragments/head :: head(
    title=${title},
    description=${description},
    keywords=${keywords},
    siteUrl=${siteUrl},
    thumbnail=${thumbnail}
    )}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/category :: category(new_value=${new_value})}"></nav>
<div th:replace="~{fragments/go-top :: go-top}"></div>
<section class="content">
    <div th:replace="~{fragments/searchBar :: searchBar}"></div>
    <div class="youtube-box">
        <iframe th:class="${class}"
                th:src="${url}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>
    <div th:if="${not #lists.isEmpty(moreContents)}" class="slider-container">
        <div class="slider-head">
            <p>Based in Osaka.<br>
                V-log / Japanese / Contents</p>
            <a href="https://www.youtube.com/@Houber_Official"><img src="/asset/shortcutYoutube.png" alt="유튜브 채널 바로가기(houber youtube shortcut)"></a>
        </div>
        <div id="contact-us" onclick="window.open('http://pf.kakao.com/_qTEPj', '_blank')"></div>
        <h2>관련 콘텐츠 더보기</h2>
        <div class="slider">
            <div th:each="item : ${moreContents}" class="item">
                <a th:href="${item.link}">
                    <div class="image-wrapper">
                        <img th:src = "${item.thumbnailUrl}"
                             th:alt = "${item.title}">
                        <div class="title" th:text = "${item.title}"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<style>
    #contact-us {
        display: block;
        width: 100%;
        height: 14rem;
        background: url("/asset/detail-banner.png") center / cover;
        cursor: pointer;
    }
</style>
<script src="/js/main.js"></script>
<script src="/js/detailControl.js"></script>
<script src="/js/navControl.js"></script>
<script src="/js/slideItem.js"></script>
<script src="/js/youtubeErrorControl.js"></script>
</html>
